/* Set the container class to center content */
.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }

header {
	background-color:  #333;
	color: #fff;
  padding: 20px;
}

header img {
  border-radius: 50%;
	width: 150px;
	height: 150px;
	object-fit: cover;
}

#projects {
  background-color: #eee;
  padding: 50px 0
}

.projects-item {
  background-color: #fff;
  box-shadow: 0px 0px 10px #aaa;
	margin: 20px;
  padding: 20px;
}
nav {
	background-color: #333;
	overflow: hidden;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	float: left;
}

nav a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav a:hover {
	background-color: #ddd;
	color: black;
}


#project-item img {
	width: 100%;
  height: auto;
}

.contact {
	background-color: #fff;
  padding: 50px 0;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

label, input, textarea {
	display: block;
	margin-bottom: 10px;
}

input[type="submit"] {
	background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: Pointer;
  {